<form method="post" action="{{ path('app_articles_crud_delete', {'id': article.id}) }}" onsubmit="return confirm('Êtes-vous sûr(e) de vouloir supprimer cette article ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article.id) }}">
    <button class="btn btn-secondary rounded-1 h-auto mt-3 mb-3">Supprimer</button>
</form>
