{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block main %}
    <h2 class="text-center mb-5">Inscription</h2>
    <div class="row">
        {# Méthode Twig "form()" => pour afficher un formulaire #}
        {{ form(formInscription) }}
    </div>
{% endblock %}
